.quyen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 86, 86, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 990;
}
.quyen_info{
    display: flex;
    width: 500px;
    height: 600px;
    background-color: #7FC7D9;
    margin: 50px auto;
    padding: 50px 20px 20px;
    position: relative;
    animation: topdown 0.5s;
    flex-wrap: wrap;
    z-index: 20;
    border-radius: 45px;
    gap:50px;
}


.addQuyen{
    display: flex;
    align-items: flex-end;
    border-radius:0 7px 7px 0; 
    border: 2px solid whitesmoke;
    padding: 16px 5px;
    margin: 20px 0;
    background-color: #f5d4ab;
    top: 20px;
    right: 20px; 
}
.addQuyen a{
    color :blue;
    margin: 7px;
    font-size: 25px; /* Đặt kích thước của biểu tượng */
}
.addQuyen a:hover{
    color:red;
}

#form_add_quyen{
    border-radius: 7px; 
    border: 2px solid #7FC7D9;
    background-color: #7FC7D9; 
    font-size: 20px;
}
#form_add_quyen input[type="text"]{
    margin-bottom: 10px;
    width: 456px;
}
.btn-search-quyen{
    position: absolute;
    left: 38%;
    bottom: 50px;
    padding: 10px;
    border-radius: 15px;
    background-color: #FFBE33;
    font-weight: bold;
}
.btn-search-quyen:hover{
    background-color: #513905;
    color: white;
}