

#noti{
    position: fixed;
    right: 0;
    width: 350px;
    height: 100px;
    transform: translateX(110%);
    z-index: 9999;
    transition: all ease-in-out .3s;
    border-radius: 15px;
}


#noti-title{
    padding: 10px;
}

#noti-desc{
    padding: 10px;
    font-size: large;
    font-family: cursive;
}


.close{
    position: absolute;
    right: 35px;
    top: 14px;
    font-size: 30pt;
}
.close:hover{
    color: red;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 86, 86, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 990;
}


.info{
    display: flex;
    height: 700px;
    width: 1000px;
    background-color: #7FC7D9;
    margin: 50px auto;
    padding: 50px 20px 20px;
    position: relative;
    animation: topdown 0.5s;
    flex-wrap: wrap;
    z-index: 20;
    border-radius: 45px;
    gap:50px;
}


.btn-search{
    position: absolute;
    left: 45%;
    bottom: 66px;
    padding: 10px;
    border-radius: 15px;
    background-color: #FFBE33;
    font-weight: bold;
}

.btn-search:hover{
    background-color: rgb(25, 241, 25);
    color: white;
}

.fix_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 86, 86, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 90;
}


.fix_info{
    height: 700px;
    width: 1000px;
    background-color: #7FC7D9;
    margin: 50px auto;
    padding: 50px 20px 20px;
    position: relative;
    animation: topdown 0.5s;
    flex-wrap: wrap;
    z-index: 20;
    border-radius: 45px;
    gap:50px;
}



table {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Các dòng của bảng */
tr {
    display: flex;
}

/* Các ô trong bảng */
td, th {
    display: flex   ;
    flex: 1; 
    align-items: center;
    justify-content: center;
}


.img {
    width: 70%; /* Đặt chiều rộng của ảnh */
    height: auto; /* Đặt chiều cao tự động để giữ tỷ lệ khung hình */
}

#addProduct a{
    color :blue;
    margin: 7px;
    font-size: 25px; /* Đặt kích thước của biểu tượng */
}
#addProduct a:hover{
    color:red;
}

.custom-icons a {
    margin: 20px;
    font-size: 23px; /* Đặt kích thước của biểu tượng */
}   
.custom-icons a {
    color : blue !important;
}

.custom-icons a:hover{
    color: red !important;
}


#quanlisp {
    display: flex;
    flex-direction: column;
}

#add_detail_Product{
    display : flex ;
    flex-wrap : wrap;
    border-radius: 7px; 
    border: 2px solid #7FC7D9;
    background-color: #7FC7D9; 
}

#add_detail_Product input[type="submit"] {
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    bottom: 50px; /* Đặt khoảng cách từ dưới cùng của phần tử cha là 20px */
    left: 50%; /* Đặt trung tâm theo trục ngang */
    transform: translateX(-38%); /* Di chuyển phần tử sang trái 50% của chính nó */
    background-color: #365486;
    color: #DCF2F1;
    font-weight: bold;
}



.textcss{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #7FC7D9;
    background-color: #7FC7D9; 
    border-radius: 10px;
}

.textcss div{
    flex: 1;
    padding: 14px;
    box-sizing: border-box;
}


.btn_fix{
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    bottom: 70px; /* Đặt khoảng cách từ dưới cùng của phần tử cha là 20px */
    left: 50%; /* Đặt trung tâm theo trục ngang */
    background-color: #365486;
    color: #DCF2F1;
    font-weight: bold;
    transform: translateX(-38%); /* Di chuyển phần tử sang trái 50% của chính nó */
}



.display_img{
    margin-left: 90px;
}

.display_img input,img{
    border: 2px solid black;
    border-radius: 5px;
}   
 
#display_old_image, #fix_masp, #fix_theloai, #fix_tensp{
background-color: #DCF2F1;
}


#add_detail_Product div {
    flex: 1;
    padding: 14px;
    box-sizing: border-box; /* Đảm bảo rằng padding sẽ không làm thay đổi kích thước của các div */
}
#fix_detail_Product div {
    flex: 1;
    padding: 14px;
    box-sizing: border-box; /* Đảm bảo rằng padding sẽ không làm thay đổi kích thước của các div */
}


#addProduct{
    display: flex;
    align-items: flex-end;
    border-radius:0 7px 7px 0; 
    border: 2px solid whitesmoke;
    padding: 16px 5px;
    margin: 20px 0;
    background-color: #f5d4ab; 
}

#searchBar {
    border-radius: 7px 0 0 7px;
    border: 2px solid whitesmoke;
    align-self: flex-end; /* Đặt searchBar sang phía bên phải */
    padding: 20px 5px;
    margin: 20px 0;
    background-color: #f5d4ab; 
}
#sbm_search{
    border-radius: 30px;
    width: 100px;
    background-color:#deb494;
}
#theloaisp{
    border-radius: 30px;
    /* width: 200px; */
    background-color:#deb494 ;
}
#tensp{
    border-radius: 20px;
    width: 200px;
    background-color:#deb494;
    color: white;
    padding-left: 10px;
}
#searchForm{
    display: flex;
}

#searchForm div{
    margin: 0 15px;
}



#ttsp_detail{
    width: 380px;
    height: 140px;
    vertical-align: top;
}   
#ttsp_detail,#masp_detail,#tensp_detail,#soluong_detail,#cost_detail,#img_detail,#theloai_detail{
    background-color: #DCF2F1;
}
#fix_ttsp{
    width: 300px;
    height: 140px;
    vertical-align: top;
    background-color: #DCF2F1;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    padding: 10px;
}

#fix_ttsp::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
#fix_tensp{
    width: 260px;
    background-color: #DCF2F1;

}

#fix_cost{
    width: 260px;
    background-color: #DCF2F1;
}

.pageNumber{
    display : flex ;
    justify-content: flex-end;
    list-style : none; 
    padding: 50px 0;
    gap: 2px;
}

.pageNumber li :hover,
ul.pageNumber li a.activePT{
    background-color: gray;
}



.pageNumber li a{
    color: white;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px 12px;
    background-color: #69c6b9;
}